In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data.shape

(32561, 15)

In [4]:
# 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [5]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [6]:
# 2. Каков средний возраст (признак age) женщин?

In [7]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [8]:
# 3. Какова доля граждан Германии (признак native-country)?

In [9]:
(data['native-country'] == 'Germany').sum() / data.shape[0]

0.004207487485028101

In [10]:
# 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary) и тех, кто получает менее 50K в год?

In [11]:
data[data['salary'] == '>50K']['age'].mean() , \
data[data['salary'] == '>50K']['age'].std() , \
data[data['salary'] == '<=50K']['age'].mean() , \
data[data['salary'] == '<=50K']['age'].std()

(44.24984058155847, 10.51902771985177, 36.78373786407767, 14.020088490824813)

In [12]:
# 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [13]:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [14]:
# 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [15]:
for (race, sex), sub_df in data.groupby(['race','sex']):
    print("race = {0}, sex = {1}".format(race, sex))
    print(sub_df['age'].describe())

race = Amer-Indian-Eskimo, sex = Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
race = Amer-Indian-Eskimo, sex = Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
race = Asian-Pac-Islander, sex = Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
race = Asian-Pac-Islander, sex = Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
race = Black, sex = Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
race = Black, sex = Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
race = Other, sex = Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
race = Other, sex = Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
race = White, sex = Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
race = White, sex = Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [25]:
pd.crosstab(data['sex'], data['race'], values=data['age'], aggfunc=np.max).T

sex                 Female  Male
race
Amer-Indian-Eskimo      80    82
Asian-Pac-Islander      75    90
Black                   90    90
Other                   74    77
White                   90    90

In [16]:
# 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [17]:
data[data['marital-status'].str.contains("Married") & (data['salary'] == '>50K') & (data['sex'] == 'Male')].shape[0] / data[data['marital-status'].str.contains("Married") & (data['sex'] == 'Male')].shape[0]

0.4405139945351156

In [18]:
data[(~data['marital-status'].str.contains("Married")) & (data['salary'] == '>50K') & (data['sex'] == 'Male')].shape[0] / data[(~data['marital-status'].str.contains("Married")) & (data['sex'] == 'Male')].shape[0]

0.08449509031397745

In [19]:
# 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [20]:
data['hours-per-week'].max()

99

In [21]:
data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]

85

In [22]:
data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')].shape[0] / data[data['hours-per-week'] == data['hours-per-week'].max()].shape[0]

0.29411764705882354

In [23]:
# 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [24]:
pd.crosstab(data['salary'], data['native-country'], values=data['hours-per-week'], aggfunc=np.mean).T

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000