In [6]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
data.shape

(32561, 15)

In [6]:
# 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [52]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [14]:
# 2. Каков средний возраст (признак age) женщин?

In [16]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [17]:
# 3. Какова доля граждан Германии (признак native-country)?

In [20]:
data[data['native-country'] == 'Germany'].mean()

age                   39.255474
fnlwgt            189325.313869
education-num         10.985401
capital-gain         887.094891
capital-loss          77.978102
hours-per-week        41.014599
dtype: float64

In [24]:
data['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [57]:
(data['native-country'] == 'Germany').sum() / 32561

0.004207487485028101

In [28]:
# 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary) и тех, кто получает менее 50K в год?

In [35]:
data[data['salary'] == '>50K']['age'].mean() , \
data[data['salary'] == '>50K']['age'].std() , \
data[data['salary'] == '<=50K']['age'].mean() , \
data[data['salary'] == '<=50K']['age'].std()

(44.24984058155847, 10.51902771985177, 36.78373786407767, 14.020088490824813)

In [37]:
# 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [51]:
data[(data['salary'] == '>50K') & (data['education'] == 'Some-college')]['education'].head()

10    Some-college
27    Some-college
38    Some-college
55    Some-college
68    Some-college
Name: education, dtype: object

In [58]:
# ответ: неправда, так как в образовании уже есть 'Some-college'

In [59]:
# 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [64]:
data.groupby(['race'])['age'].describe(percentiles=[])

                      count       mean        std   min   50%   max
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  35.0  82.0
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  36.0  90.0
Black                3124.0  37.767926  12.759290  17.0  36.0  90.0
Other                 271.0  33.457565  11.538865  17.0  31.0  77.0
White               27816.0  38.769881  13.782306  17.0  37.0  90.0

In [65]:
data.groupby(['sex'])['age'].describe(percentiles=[])

          count       mean        std   min   50%   max
sex
Female  10771.0  36.858230  14.013697  17.0  35.0  90.0
Male    21790.0  39.433547  13.370630  17.0  38.0  90.0

In [9]:
# nado naiti max vozrast male
pd.crosstab(data['sex'], data['race'], values = "age", aggfunc = np.max)

race   Amer-Indian-Eskimo Asian-Pac-Islander Black Other White
sex
Female                age                age   age   age   age
Male                  age                age   age   age   age

In [ ]:
# 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.